<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Problem</title>
    <link rel="stylesheet" href="../static/CreateProblemStyles.css">
</head>
<body>
<h1>Create New Problem</h1>
<form method="post" action="/problems">
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title"><br><br>

    <label for="description">Description:</label><br>
    <textarea id="description" name="description" rows="4" cols="50"></textarea><br><br>

    <input type="submit" value="Submit">
</form>
</body>
</html>